<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>

<body>
    <h1>Welcome, {{ student.name }}</h1>
    <h2>Your Profile:</h2>
    <p>Email: {{ student.email }}</p>
    <p>Phone Number: {{ student.phone_number }}</p>
    <p>Gender: {{ student.gender }}</p>
    <p>Address: {{ student.address }}</p>
    <h2>Enrolled Courses:</h2>
    <ul>
        {% for course in courses %}
        <li>{{ course.name }}</li>
        {% endfor %}
    </ul>
    <h2><a href="{% url 'library' student_id=student.student_id %}">Go to Library</a></h2>

    <h2>Courses</h2>
    <ul>
        {% for course in courses %}
        <li><a href="{% url 'course_detail' student_id=student.student_id course_id=course.course_id %}">{{ course.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Attendance</h2>
    <ul>
        {% for att in attendance %}
        <li>{{ att.course.name }}: {{ att.attendance_percent }}%</li>
        {% endfor %}
    </ul>
    <h2>Upcoming Schedules</h2>
    <ul>
        {% for schedule in schedules %}
        <li>{{ schedule.course.name }}: {{ schedule.date }} at {{ schedule.time }}</li>
        {% endfor %}
    </ul>
</body>

</html>